<a href="https://colab.research.google.com/github/marioluiz99/CDS/blob/main/Aula_2_mini_curso_DS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
# 1. Qual o número total de linhas do conjunto de dados?
df.shape[0]

48895

In [33]:
# 2. Calcule o valor máximo das quantidades de anúncios do host do imóvel?
max_anuncio = df['calculated_host_listings_count'].max()
print(max_anuncio)

327

In [34]:
# 3. Quais os tipos de dados de cada coluna?
df.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

In [38]:
# 4. Qual o número de dados faltantes do conjunto de dados?
nf = df.isna().sum()
print(nf)

print(f'A quantidade de dados faltantes é: {nf.sum()}')

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64
A quantidade de dados faltantes é: 20141

In [ ]:
# 5. Selecione as seguintes colunas:

In [39]:
# 1. Identificador do registro na base de dados
cols_id = ['id']
df.loc[:, cols_id]

             id
0          2539
1          2595
2          3647
3          3831
4          5022
...         ...
48890  36484665
48891  36485057
48892  36485431
48893  36485609
48894  36487245

[48895 rows x 1 columns]

In [40]:
# 2. Nome do anúncio na plataforma do Airbnb
cols_anuncio = ['calculated_host_listings_count']
df.loc[:, cols_anuncio]

       calculated_host_listings_count
0                                   6
1                                   2
2                                   1
3                                   1
4                                   1
...                               ...
48890                               2
48891                               2
48892                               1
48893                               6
48894                               1

[48895 rows x 1 columns]

In [45]:
# 3. Ponto geográfico de latitude
cols_lat = ['latitude']
df.loc[:, cols_lat]

       latitude
0      40.64749
1      40.75362
2      40.80902
3      40.68514
4      40.79851
...         ...
48890  40.67853
48891  40.70184
48892  40.81475
48893  40.75751
48894  40.76404

[48895 rows x 1 columns]

In [46]:
# 4. Ponto geográfico de longitude
cols_long = ['longitude']
df.loc[:, cols_long]

       longitude
0      -73.97237
1      -73.98377
2      -73.94190
3      -73.95976
4      -73.94399
...          ...
48890  -73.94995
48891  -73.93317
48892  -73.94867
48893  -73.99112
48894  -73.98933

[48895 rows x 1 columns]

In [47]:
# 5 . Tipo da locação (quarto, casa inteira, etc)
cols_type = ['room_type']
df.loc[:, cols_type]

             room_type
0         Private room
1      Entire home/apt
2         Private room
3      Entire home/apt
4      Entire home/apt
...                ...
48890     Private room
48891     Private room
48892  Entire home/apt
48893      Shared room
48894     Private room

[48895 rows x 1 columns]

In [48]:
# 6. Preço do aluguel (diária)
cols_dia = ['price']
df.loc[:, cols_dia]

       price
0        149
1        225
2        150
3         89
4         80
...      ...
48890     70
48891     40
48892    115
48893     55
48894     90

[48895 rows x 1 columns]

In [49]:
# 7. Quantidade de revisões mensais
revisoes_mensais = df['reviews_per_month'].sum()
print(f'A quantidade de revisões mensais é: {revisoes_mensais}')

A quantidade de revisões mensais é: 53340.04

In [50]:
# 8. Calcule o valor médio das diárias mínimas para locação
media = df['minimum_nights'].mean()
print(f'O valor médio das diárias mínimas é {media}')

O valor médio das diárias mínimas é 7.029962163820431

In [51]:
# 9. Calcule o valor máximo e mínimo das quantidades de avaliações
cols_av = ['availability_365']
max = df['availability_365'].max()

min = df['availability_365'].min()

print(f'O valor máximo da quantidade de avaliações é {max} e o mínimo é: {min}')

O valor máximo da quantidade de avaliações é 365 e o mínimo é: 0

In [52]:
# 10. Quais os nomes das colunas?
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [53]:
# 11. Calcule o valor mínimo da quantidade de anúncios do host do imóvel
min_anuncio = df['calculated_host_listings_count'].min()
print(f'O valor mínimo da quantidade do host do imóvel é: {min_anuncio}')

O valor mínimo da quantidade do host do imóvel é: 1

In [54]:
# 12. Qual o número total de colunas do conjunto de dados?
df.shape[1]

16

In [55]:
# 13. Calcule o valor médio das quantidade de anúncios do host do imóvel
df['calculated_host_listings_count'].median()

1.0

In [57]:
# 14. Calcule o valor mínimo das quantidades de avaliações
cols_av = ['availability_365']
min = df['availability_365'].min()
print(f'O valor mínimo da quantidade de avaliações é: {min}')

O valor mínimo da quantidade de avaliações é: 0

In [27]:
import pandas as pd
import numpy as np
import io

from google.colab import files

In [10]:
file_uploaded = files.upload()

Saving AB_NYC_2019.csv to AB_NYC_2019 (1).csv

In [12]:
df = pd.read_csv( io.BytesIO( file_uploaded['AB_NYC_2019.csv'] ))

In [13]:
# Comandos para inspecionar uma planilha de dados

# Descobrir algum tipo de variável (balde) que guarda algum dado.
type( df )

pandas.core.frame.DataFrame

In [15]:
# Descobrir o número de linhas e colunas da planilha de dados

df.shape

(48895, 16)

In [16]:
# Mostrar as seis primeiras linhas da planilha

df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [17]:
# Descobrir o tipo de dado de cada coluna

df.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

In [18]:
# Descobrir o número de dados faltantes de cada coluna

df.isna() .sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [19]:
# Descobrir informações gerais da planilha de dados

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [20]:
# Como selecionar colunas em uma planilha de dados
# Exemplo: df.loc[linhas, colunas]

cols = ['host_name', 'price']
df.loc[:, cols]

           host_name  price
0               John    149
1           Jennifer    225
2          Elisabeth    150
3        LisaRoxanne     89
4              Laura     80
...              ...    ...
48890        Sabrina     70
48891        Marisol     40
48892  Ilgar & Aysel    115
48893            Taz     55
48894     Christophe     90

[48895 rows x 2 columns]

In [23]:
df1 = df.dropna()

In [24]:
df1.shape

(38821, 16)

In [29]:
# Respondendo as perguntas de negócio do CEO
# 1. Qual o valor médio do aluguel na cidade de Nova York?
cols = ['price']
price = df1.loc[:, cols]

np.mean(price)

price    142.332526
dtype: float64

In [30]:
# 2. Qual o nome das regiões?

cols = ['neighbourhood_group']

regiao = df1.loc[:, cols]

np.unique (regiao)

array(['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island'],
      dtype=object)

In [31]:
# Qual o valor mais caro do aluguel em NY?

cols = ['price']

price = df1.loc[:, cols]

np.max (price)

price    10000
dtype: int64